<h2><%=@user.name%></h2> 
<h2><%=@user.email%></h2> 
<hr>
<%if @user.bookings.any?%>
  <h2>Your Bookings:</h2>
  <ul>
    <% @user.bookings.each do |booking| %>
      <li><%= link_to booking.cruise.name, booking_path(booking) %></li>
    <% end %>
  </ul>
<%else%>
  <h3>Currently you have no bookings. <%=link_to "Book Now", cruises_path%></h3>
<%end%>